﻿<div id="search-panel">
	<div class="search-controls">
		<input id="search" name="search" type="text" data-bind="textInput: searchText" />
		<a class="button-link" id="search-button" href="#" data-bind="click: searchClick">Search</a>
	</div>
	<div class="idol-badge">
		<p>Powered by HP IDOL On Demand</p>
		<a href="http://www.idolondemand.com/" target="_blank"><img src="/resources/images/idol-on-demand.png" /></a>
	</div>
</div>