﻿body {
    background-color: #0096D6;
    color: #E0F9E7;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.spinner {
    height: 16px;
    width: 16px;
    display: block;
}

.idol-badge {
    float: right;
}

.search-controls {
    line-height: 2em;
    font-size: 1em;
	border: none;
    width: 90%;
    padding-bottom: 1em;
}

input#search {
    color: #542E71;
    font-weight: bold;
    width: 90%;
}

a#search-button {
    background-color: #B3CBB9;
    color: #0096D6;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
}

nav a {
    color: #B3CBB9;
    line-height: 2em;
	border-left: 1px solid #B3CBB9; 
    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav a:first-child {
	border-left: none; 
}

a {
    color: #6A66A3;
}

a:visited {
    color: #DDD8B8;
}
